*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  align-items: center;
  justify-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 32px;
  margin: 0 auto;
  padding: 133px 30px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list {
  position: relative;
  width: 399px;
  height: 298px;
  overflow-y: auto;
}

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 100%;
  height: 100%;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  color: white;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  word-wrap: break-word;
}

.title {
  color: white;
  font-family: Oswald;
  font-weight: 700;
  font-size: 75px;
  line-height: 70.50px;
  text-transform: uppercase;
  word-wrap: break-word;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  margin: 2px;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.content__video-card-title {
  color: white;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  word-wrap: break-word;
}

.content__video-card-description {
  margin-top: 6px;
  color: white;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.20px;
  word-wrap: break-word;
}